version: "3"
services:
  mongodb:
    image: mongo
    ports:
      - "27017:27017"
  api_service:
    build: ./server
    container_name: devices_control_server
    ports:
      - "3001:3001"
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/master_devices
      - PORT=3001

    depends_on:
      - mongodb 
  client_service:
    build: ./client
    container_name: devices_control_client
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API=http://127.0.0.1:3001

    depends_on:
      - api_service