@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 246, 247, 248;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --body-background-start-rgb: 56, 59, 83;
    --nav-background-start-rgb: 246, 247, 248;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--body-background-start-rgb));
}

nav {
  @apply text-gray-900 hover:text-gray-700 py-2;
  width: 100%;
  background: rgb(var(--nav-background-start-rgb));
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(var(--nav-background-start-rgb));
  padding: 20px;
  width: 300px;
  max-width: 50vw;
  z-index: 1000;
  animation: modal-in 0.3s ease-in-out forwards;
}
.modal-overlay {
  position: fixed;
  background-color: rgba(var(--body-background-start-rgb), 0.5);
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@keyframes modal-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.modal-content {
  padding: 10px;
}

.design-mode {
  @apply border border-dashed border-white;
}
.design-mode-2 {
  @apply border border-dashed border-red-500;
}
.design-mode-3 {
  @apply border border-dashed border-blue-500;
}
